:root {
    --primary-color: #FBE67F;
    --secondary-color: #4F64D7;
    --on-primary: white;
    --background: #F4F3F0;
    --text-primary: #161616;
    --text-secondary: #45464B;
    --gray: #E0E0E0;
    --surface: #FEFEFE;
  
  }
  
  
  .updatesContainer {
    display: flex;
    width: calc(100%-8px);
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex: 1;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 24px;
    border: 1px solid var(--background);
  
  }
  .updatesContainer .textContainer{
  width: 100%;
  }
  .updatesContainer:hover {
    box-sizing: border-box;
    border: 1px solid var(--secondary-color);
    transition: all 0.2 ease;
  }
  
  .updateImg {
    background-color: var(--primary-color);
    background-position: center;
    border-radius: 24px;
    border: 1px solid black;
    height: 88px;
    width: 104px;
  
  }
  