@import "../../App.css";
  .projectContainer {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    flex: 1;
    background: var(--background);
    border: 1px solid var(--text-primary);
    border-radius: 32px;
    overflow: hidden;
  
  }
  
  .projectImg {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius:0px 0px 32px 32px;
    overflow: hidden;
  }
  
  .projectImg img {
    filter: grayscale(100%);
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
  }
  .projectImg img:hover{
    filter: grayscale(0%);
    transform: scale(1.03);
    transform-origin: bottom left;
  
  }
  .projectContainer  .projectTitle {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
  }

  
  @media screen and (max-width: 900px) {

.projects .column{
    gap: 28px !important;;
}
.projects .row{
    gap:28px !important;
}
.projectImg {
  border-radius: 0px 0px 24px 24px;

}

  .projectContainer {
    border-radius: 24px;

  }
  .projectContainer  .projectTitle {
    flex-direction: column;
    align-items: start;
    padding: 16px 24px;
  }
  }

  .projects .column{
    margin-bottom: 72px;
  }