@import "../../App.css";
  .projectContainer {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    flex: 1;
    background: var(--background);
    border: 1px solid var(--text-primary);
    border-radius: 2.5vw;
    overflow: hidden;
  
  }
  
  .projectImg {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 0px 0px 2.5vw 2.5vw;
    overflow: hidden;
  }
  
  .projectImg img {
   
    filter: grayscale(100%);
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
  }
  .projectImg img:hover{
    filter: grayscale(0%);
    transform: scale(1.03);
    transform-origin: bottom left;
  
  }
  .projectContainer  .projectTitle {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
  }

  
  .sd {
    background-color: aqua;
    width: 100%;
    height: 40vh;
  }

  .suv {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
  }

  .ssss{
display: flex;
flex: 1;
width: 100%;
  }


  .sd img{
    width: 40vw;
   
  }