@import "../../App.css";

.bodayHigh {
  font-size: 32px;
  line-height: 48px !important;
  width: 60vw;
}

.heroSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.NavBar {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: calc(100%-72px);
  padding: 32px 0px;
  margin-top: 0 !important;
  margin: 0px 72px 0px 72px;

}

.footer {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px 0px;
}



.footer span {
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
  ;
}