:root {
    --primary-color: #FBE67F;
    --secondary-color: #4F64D7;
    --on-primary: white;
    --background: #F4F3F0;
    --text-primary: #161616;
    --text-secondary: #45464B;
    --gray: #E0E0E0;
    --surface: #FEFEFE;
  
  }
  .articleContainer {
    width: calc(100%);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 24px;
    gap: 16px;
  }
  
  
  .articleContainer .row {
    align-items: center;
  }
  
  .articleContainer:hover {
    border-top: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    transition: all 0.4 ease;
    cursor: pointer;
  }
  
  .articleContainer:not(hover) {
  
    transition: all 0.4s ease;
  }
  
  .articleContainer> :nth-child(2) {
    flex: 1;
  }
  
  .articleContainer .articalImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    width: 88px;
    background-color: var(--primary-color);
    border: 1px solid black;
    border-radius: 24px;
  
  }
  
  .articleContainer .titleContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }
  
  .articleContainer .textContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .chipsContainer {
    display: flex;
    gap: 8px;
  }
  
  .chip {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 7px 23px;
    width: fit-content;
    border: 1px solid black;
    box-sizing: border-box;
    color: black;
    border-radius: 25px;
  }
  
  
 