@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
body {

  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F4F3F0;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.ibm-plex-sans {
  font-family: 'IBM Plex Sans', sans-serif;
}
